SoapProxy.WebApiHost/AndroidPushService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hosted.comm100.com/AndroidPushNotification" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://hosted.comm100.com/AndroidPushNotification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hosted.comm100.com/AndroidPushNotification">
      <s:element name="NewPushNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notifications" type="tns:ArrayOfAndroidStructNotification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAndroidStructNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AndroidStructNotification" type="tns:AndroidStructNotification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AndroidStructNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_androidToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_alertMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_visitorId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="_visitorGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_partnerId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewPushNotificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="PushNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notifications" type="tns:ArrayOfAndroidStructNotification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushNotificationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NewPushNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:NewPushNotification" />
  </wsdl:message>
  <wsdl:message name="NewPushNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:NewPushNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="PushNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:PushNotification" />
  </wsdl:message>
  <wsdl:message name="PushNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:PushNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="AndroidPushSoap">
    <wsdl:operation name="NewPushNotification">
      <wsdl:input message="tns:NewPushNotificationSoapIn" />
      <wsdl:output message="tns:NewPushNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PushNotification">
      <wsdl:input message="tns:PushNotificationSoapIn" />
      <wsdl:output message="tns:PushNotificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AndroidPushSoap" type="tns:AndroidPushSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewPushNotification">
      <soap:operation soapAction="http://hosted.comm100.com/AndroidPushNotification/NewPushNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushNotification">
      <soap:operation soapAction="http://hosted.comm100.com/AndroidPushNotification/PushNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AndroidPushSoap12" type="tns:AndroidPushSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewPushNotification">
      <soap12:operation soapAction="http://hosted.comm100.com/AndroidPushNotification/NewPushNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushNotification">
      <soap12:operation soapAction="http://hosted.comm100.com/AndroidPushNotification/PushNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AndroidPush">
    <wsdl:port name="AndroidPushSoap" binding="tns:AndroidPushSoap">
      <soap:address location="https://commservice_backend/AndroidPushNotification/AndroidPush.asmx" />
    </wsdl:port>
    <wsdl:port name="AndroidPushSoap12" binding="tns:AndroidPushSoap12">
      <soap12:address location="https://commservice_backend/AndroidPushNotification/AndroidPush.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>