SoapProxy.WebApiHost/TranslateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Detect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="texts" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetLanguage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isHtml" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DetectSoapIn">
    <wsdl:part name="parameters" element="tns:Detect" />
  </wsdl:message>
  <wsdl:message name="DetectSoapOut">
    <wsdl:part name="parameters" element="tns:DetectResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:portType name="GoogleTranslateSoap">
    <wsdl:operation name="Detect">
      <wsdl:input message="tns:DetectSoapIn" />
      <wsdl:output message="tns:DetectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoogleTranslateSoap" type="tns:GoogleTranslateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Detect">
      <soap:operation soapAction="http://tempuri.org/Detect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoogleTranslateSoap12" type="tns:GoogleTranslateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Detect">
      <soap12:operation soapAction="http://tempuri.org/Detect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoogleTranslate">
    <wsdl:port name="GoogleTranslateSoap" binding="tns:GoogleTranslateSoap">
      <soap:address location="https://commservice_backend/translateservice/GoogleTranslate.asmx" />
    </wsdl:port>
    <wsdl:port name="GoogleTranslateSoap12" binding="tns:GoogleTranslateSoap12">
      <soap12:address location="https://commservice_backend/translateservice/GoogleTranslate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>